.extra_wide label {
    font-size: small;
    width: 640px;
}

.extra_wide .readonly {
    font-size: large;
}

.extra_wide .form-row > div {
    float: left;
}

 /*LABELS*/
.field-delivery_status > label {
    font-size: small;
    width: 160px;
}

.field-other_service > label {
    font-size: small;
    width: 160px;
}

.field-additional_recipients > label {
    font-size: small;
    width: 160px;
}

 /*WIDGET*/
.field-delivery_status > select {
    margin-top: 20px;
    font-size: large;
}

.field-invoice_pdf div {
    float: right;
}

.field-other_service input {
    width: 480px;
    font-size: large;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
    border: none;
}

.field-additional_recipients input {
    width: 480px;
    font-size: large;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
    border: none;
}

.add-array-item, .inline-deletelink {
    display: none;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #2196F3;
  padding: 10px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}